/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$clouds: #F8F5FA;
$black: #000000;
$grape: #4C0564;
$lavender: #83479B;
$white: #FFFFFF;
$light-grey: #D5D5D5;
$red: #F71735;
$red-dark: #803841;
$purple: #803841;